.git
.env
.#.env
.env.*
.pytest_cache
**/__pycache__/
**/*.py[cod]
.venv
build
dist
*.egg-info
doc-store-client/.pytest_cache
doc-store-client/build
doc-store-client/dist
doc-store-client/src/*.egg-info
